<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/BluetoothAppServer" version="1.0.0" viewmodes="maximized">
    <tizen:application id="YxBBTT3bfk.BluetoothAppServer" package="YxBBTT3bfk" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>BluetoothAppServer</name>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth"/>
    <tizen:profile name="mobile"/>
</widget>
